.masonry-grid {
  display: flex;
  margin-left: -24px; /* I could use gap, but masonry-css uses negative margin */
  width: auto;
}

.masonry-grid_column {
  padding-left: 24px;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 24px;
}
